body{
	font-family: 'Open Sans', arial, sans-serif;
	background: #888888;
}
*{
	margin:0;
	padding:0;
}
#nav {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:flex-end;
	width: 100%;
	justify-content: flex-start;
}
!div > #nav-button {
	visibility: visible;
	background-color: red;
}
.hex-border {
	border-style: solid;
    border-width:0 0.5rem;
    border-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.clothing .hex-border {
	border-color: rgb(128,0,0);
}
.bags .hex-border {
	border-color: rgb(0,128,0);
}
.gear .hex-border {
	border-color: rgb(0,0,128);
}
.home .hex-border {
	border-color: rgb(128,0,0); 
}
.border2 {
	transform: rotate(60deg);
}
.border3 {
	transform: rotate(-60deg);
}
.switchbox {
	margin: 1rem;
	width: min-content;
	display: flex;
	flex-direction:column;
	align-items:center;
	text-align: center;
	color: #FFF;
}
.switchbox .switch {
	margin: 0;
}
.hex-grid{
	overflow:hidden;
	width:96%;
	margin:0 auto;
	display: block;
}
.hex-grid li,.hex-grid > div{
	display: block;
	position:relative;
	list-style-type:none;
	float:left;
	overflow:hidden;
	visibility:hidden;
	transform: rotate(-60deg) skewY(30deg);
	width:calc(100%/4.5); /* = (100%-H-margin) / (#columns + .5) */
	padding-bottom:calc(100%/4.5/0.866); /* =  width /0.866 */
	margin: 0;
}
.hex-grid li:nth-of-type(n+5) {
	margin: calc(-100%/4.5/3.4641 - 1px) 0 0 0;
}
.hex-grid li:nth-of-type(8n+5) {
	margin: calc(-100%/4.5/3.4641 - 1px) 0 0 calc(100%/4.5/2);
}
.hex-grid li *{
	position:absolute;
	visibility:visible;
}
.hex-grid li  a {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	color: inherit;
	z-index: 2;
}
.hex-grid li > div{
	position: absolute;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	overflow:hidden;
	transform: skewY(-30deg) rotate(60deg);
	
}
.hex-grid li img{
	right: -100%; left: -100%;
	height: calc(100% - 0.5rem);
	width: auto;
	max-width: none;
	margin:0 auto;   
}
.hex-grid li h1, .hex-grid li p {
	text-align: center;
	width: 90%;
	margin:0 5%;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.hex-grid li h1 {
	height: 40%;
	bottom: 50%;
	font-size:1.5em;
}
.hex-grid li p {
	height: 40%;
	top: 50%;
}
.hex-grid div:hover h1, .hex-grid div:hover p {
	z-index: 1;
}
.hidden {
	display: none !important;
}


@media (min-width:1201px) {
	.hex-grid li {
		width:calc(100%/6.5) !important; /* = (100%-H-margin) / (#columns + .5) */
		padding-bottom:calc(100%/6.5/0.866) !important; /* =  width /0.866 */
		margin: 0 !important;
	}
	.hex-grid li:nth-of-type(n+7) {
		margin: calc(-100%/6.5/3.4641 - 1px) 0 0 0 !important;
	}
	.hex-grid li:nth-of-type(12n+7) {
		margin: calc(-100%/6.5/3.4641 - 1px) 0 0 calc(100%/6.5/2) !important;
	}
	
}
@media (min-width:1001px) and (max-width: 1200px) {
	.hex-grid li {
		width:calc(100%/5.5) !important; /* = (100%-H-margin) / (#columns + .5) */
		padding-bottom:calc(100%/5.5/0.866) !important; /* =  width /0.866 */
		margin: 0 !important;
	}
	.hex-grid li:nth-of-type(n+6) {
		margin: calc(-100%/5.5/3.4641 - 1px) 0 0 0 !important;
	}
	.hex-grid li:nth-of-type(10n+6) {
		margin: calc(-100%/5.5/3.4641 - 1px) 0 0 calc(100%/5.5/2) !important;
	}
	
}
@media (min-width:501px) and (max-width: 800px) {
	.hex-grid li {
		width:calc(100%/3.5) !important; /* = (100%-H-margin) / (#columns + .5) */
		padding-bottom:calc(100%/3.5/0.866) !important; /* =  width /0.866 */
		margin: 0 !important;
	}
	.hex-grid li:nth-of-type(n+4) {
		margin: calc(-100%/3.5/3.4641 - 1px) 0 0 0 !important;
	}
	.hex-grid li:nth-of-type(6n+4) {
		margin: calc(-100%/3.5/3.4641 - 1px) 0 0 calc(100%/3.5/2) !important;
	}
	#nav {
		justify-content:space-around;

	}
	.switchbox {
		margin: none;
	}

	
}
@media (max-width: 500px) {
	.hex-grid li {
		width:calc(100%/2.5) !important; /* = (100%-H-margin) / (#columns + .5) */
		padding-bottom:calc(100%/2.5/0.866) !important; /* =  width /0.866 */
		margin: 0 !important;
	}
	.hex-grid li:nth-of-type(n+3) {
		margin: calc(-100%/2.5/3.4641 - 1px) 0 0 0 !important;
	}
	.hex-grid li:nth-of-type(4n+3) {
		margin: calc(-100%/2.5/3.4641 - 1px) 0 0 calc(100%/2.5/2) !important;
	}
	#nav {
		flex-direction: column;
		align-items: flex-end;
	}
	.switchbox {
		margin: 0;
		flex-direction: row;
		width: max-content;
		align-items: center;
	}
	.switchbox .switch {
		order: 2;
		margin:0 0 0 1em;
	}
	.switchbox p {
		margin: 0;
	}
	
}
@media (min-width: 501px) {
	#menubar {
		display: none;
	}
	#nav {
		visibility: visible;
		margin:0;
		padding: 1rem;
		border: none;
		position: relative;
	}
}