body{
	font-family: 'Open Sans', arial, sans-serif;

}
*{
	margin:0;
	padding:0;
}
#viewable-area {
	width: 100%;
}
#menubar {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
}
#menubar #menubar-body {
	width: 100%;
	height: 2.5rem;
	background-color: #888;
}
#menubar #nav-button, #menubar #nav-button~label {
	position: absolute;
	margin: 0.5rem;
	right: 0;
	top: 0;
	overflow: visible;
}
#nav-button {
	visibility: hidden;
}
#menubar #nav-button~label {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
}
#menubar #nav-button+label:after {
	position: absolute;
	top: 2px;
	right: 0;
	display: block;
	width: 1.5rem;
	height: 2px;
	background-color: #FFFFFF;
	box-shadow: 0 calc(0.75rem - 3px) #FFFFFF, 0 calc(1.5rem - 6px) #FFFFFF;
	content: "";
	z-index: 11;
}
#nav {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:flex-end;
	width: 100%;
	justify-content: flex-start;
}
#nav-button:checked~#nav {
	visibility: visible;
}
.switchbox {
	margin: 1rem;
	width: min-content;
	display: flex;
	flex-direction:column;
	align-items:center;
	text-align: center;
}
.switchbox .switch {
	margin: 0;
}
.switch-paddle {
	transition: background .25s ease-out;
}
.switch-paddle:after {
	transition: left .25s ease-out;
}
.hex-grid{
	overflow:hidden;
	margin:0 auto;
	display: block;
	--hex-number: 4;  /* Set as the number showing + 0.5 */
	--hex-margin: 0.25rem;  /* Half the width between hexagons */
	--hex-width: calc((100% - 2 * var(--hex-number) * var(--hex-margin) + var(--hex-margin) ) / ( var(--hex-number) + .5) );
	width: calc(100% - 2rem);
}
.hex-grid li {
	display: block;
	position:relative;
	vertical-align: middle;
	list-style-type:none;
	float:left;
	overflow:hidden;
	visibility:hidden;
	transform: rotate(-60deg) skewY(30deg);
	width: var(--hex-width);
	padding-bottom:calc(var(--hex-width) / 0.866); /* =  width /0.866 */
	margin-top: 0;
	margin-right: var(--hex-margin);
	margin-bottom: 0;
	margin-left: var(--hex-margin);
}
.hex-grid li:nth-of-type(n+5) {
	margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
}
.hex-grid li:nth-of-type(8n+1) {
	margin-left: 0;
}
.hex-grid li:nth-of-type(8n+5) {
	margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
}
.hex-grid li:nth-of-type(8n) {
	margin-right: 0;
}
.hex-grid li *{
	position:absolute;
	visibility:visible;
}
.hex-grid li  a {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	color: inherit;
	z-index: 2;
}
.hex-grid li > div{
	position: absolute;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	overflow:hidden;
	transform: skewY(-30deg) rotate(60deg);
	
}
.hex-grid li img{
	right: -100%; left: -100%;
	height: 100%;
	width: auto;
	max-width: none;
	margin:0 auto;   
}
.hex-grid li h1, .hex-grid li p {
	display: block;
	text-align: center;
	width: 90%;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px black;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	transition: all 0.3s ease-out;
	height: max-content;
}
.hex-grid li h1 {
	font-size:1.2rem;
}
.hex-grid li p {
	line-height: 1.1;
	top: 200%;
}
.hex-grid div:hover h1 {
	top: -200%;
}
.hex-grid div:hover p {
	top: 0;
}
.hidden {
	display: none !important;
}
@media (min-width: 1600px) {
	#viewable-area {
		width: 1600px;
		margin: 0 auto;
	}
}

@media (min-width:1500px) {
	.hex-grid {
		--hex-number: 7;
	}
	.hex-grid li[class] {
		margin-top: 0;
		margin-right: var(--hex-margin);
		margin-bottom: 0;
		margin-left: var(--hex-margin);
	}
	.hex-grid li:nth-of-type(n+8) {
		margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
	}
	.hex-grid li:nth-of-type(14n+1) {
		margin-left: 0;
	}
	.hex-grid li:nth-of-type(14n+8) {
		margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
	}
	.hex-grid li:nth-of-type(14n) {
		margin-right: 0;
	}
	
}
@media (min-width:1200px) and (max-width:1500px) {
	.hex-grid {
		--hex-number: 6;
	}
	.hex-grid li[class] {
		margin-top: 0;
		margin-right: var(--hex-margin);
		margin-bottom: 0;
		margin-left: var(--hex-margin);
	}
	.hex-grid li:nth-of-type(n+7) {
		margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
	}
	.hex-grid li:nth-of-type(12n+1) {
		margin-left: 0;
	}
	.hex-grid li:nth-of-type(12n+7) {
		margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
	}
	.hex-grid li:nth-of-type(12n) {
		margin-right: 0;
	}
	
}
@media (min-width:961px) and (max-width: 1200px) {
	.hex-grid {
		--hex-number: 5;
	}
	.hex-grid li[class] {
		margin-top: 0;
		margin-right: var(--hex-margin);
		margin-bottom: 0;
		margin-left: var(--hex-margin);
	}
	.hex-grid li:nth-of-type(n+6) {
		margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
	}
	.hex-grid li:nth-of-type(10n+1) {
		margin-left: 0;
	}
	.hex-grid li:nth-of-type(10n+6) {
		margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
	}
	.hex-grid li:nth-of-type(10n) {
		margin-right: 0;
	}
	
}
@media (min-width:501px) and (max-width: 740px) {
	.hex-grid {
		--hex-number: 3;
	}
	.hex-grid li[class] {
		margin-top: 0;
		margin-right: var(--hex-margin);
		margin-bottom: 0;
		margin-left: var(--hex-margin);
	}
	.hex-grid li:nth-of-type(n+4) {
		margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
	}
	.hex-grid li:nth-of-type(6n+1) {
		margin-left: 0;
	}
	.hex-grid li:nth-of-type(6n+4) {
		margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
	}
	.hex-grid li:nth-of-type(6n) {
		margin-right: 0;
	}
	#nav {
		justify-content:space-between;

	}
	.switchbox {
		margin: none;
	}

	
}
@media (max-width: 500px) {
	.hex-grid {
		--hex-number: 2;
	}
	.hex-grid li[class] {
		margin-top: 0;
		margin-right: var(--hex-margin);
		margin-bottom: 0;
		margin-left: var(--hex-margin);
	}
	.hex-grid li:nth-of-type(n+3) {
		margin-top: calc( ( -1 * var(--hex-width) / 3.4641 ) + ( 1.793 * var(--hex-margin) ) );
	}
	.hex-grid li:nth-of-type(4n+1) {
		margin-left: 0;
	}
	.hex-grid li:nth-of-type(4n+3) {
		margin-left:calc(var(--hex-margin) + (var(--hex-width) / 2));
	}
	.hex-grid li:nth-of-type(4n) {
		margin-right: 0;
	}
	#nav {
		flex-direction: column;
		align-items: flex-end;
		width: 80%;
		left: 10%;
	}
	.switchbox {
		margin: 0;
		flex-direction: row;
		width: 100%;
		align-items: center;
		justify-content:space-between;
	}
	.switchbox .switch {
		order: 2;
		margin:0.25rem 0 0.25rem 1rem;
	}
	.switchbox p {
		margin: 0;
	}
	.hex-grid {
		margin:3rem auto 0 auto;
	}
	
}
@media (min-width: 501px) {
	#menubar-body {
		display: none;
	}
	#menubar {
		position: relative;
	}
	#nav {
		visibility: visible;
		margin:0;
		padding: 0;
		border: none;
		position: relative;
	}
}